:root{
    font-family: Arial, Helvetica, sans-serif;
  }

body{
    margin: 3rem;
}
.head-container{
    margin: 2rem;
}

.title{
    font-size: 2.5rem;
    font-weight: bold;
}

.subtitle{
    font-size: 1.8rem;
}

#circle-image-container{
    text-align: center;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    stroke-width: 1px;
}

.tool-container{
    margin: 3rem;
}